PORT=5000

MONGO_URI=mongodb://shopNest:shopNest@ac-eoab9qj-shard-00-00.fg67rc0.mongodb.net:27017,ac-eoab9qj-shard-00-01.fg67rc0.mongodb.net:27017,ac-eoab9qj-shard-00-02.fg67rc0.mongodb.net:27017/ShopNest?ssl=true&replicaSet=atlas-xtlcn2-shard-0&authSource=admin&appName=Cluster0

JWT_SECRET=something

EMAIL_USER=sahilcodes14@gmail.com
EMAIL_PASS=alke xrdq atqi qlhj
ADMIN_EMAIL=admin@shopnest.com
ADMIN_PASSWORD=Admin@123

CLOUDINARY_CLOUD_NAME=o3nmubwy
CLOUDINARY_API_KEY=761489288296944
CLOUDINARY_API_SECRET=8t4kqGg1Aklm-shCd4Govy1KCqo
RAZORPAY_KEY_ID=signup data
RAZORPAY_KEY_SECRET=signup data